# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://rvpsochufrggcyghzgfh.supabase.co
NEXT_PUBLIC_SUPABASE_ANON_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InJ2cHNvY2h1ZnJnZ2N5Z2h6Z2ZoIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3NDc0MTc2NSwiZXhwIjoyMDkwMzE3NzY1fQ.da4NscY9DllXXlsomNHiC7XexfvqBPvXkFiu9O1_YkM